.contact-c h1{
    color:rgb(148, 139, 139);
}

.contact-c p{
    color: black;
    font-stretch: expanded;
    font-size: 2rem;
    margin-left: 20px;
}

/*
HELP ME BHI YEHI CSS USE HUA
*/